* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey-color: #808080;
    --selection-color: #bebbbb;
}

body {
    text-align: center;
    background: #A6A2A5;
    background: linear-gradient(to left, #A6A2A5 0%, #FFFFFF 48%, #A6A2A5 100%);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

h1{
    font-family: 'Kanit', sans-serif;
}

button {
    color: #fff;
    background-color: #000;
    font-weight: bold;
    border: none;
    padding: 0.7% 1.5%;
    margin: 0% 2%;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}
button:hover {
    scale: 1.1;
    color: #000;
    background-color: var(--grey-color);
}

textarea {
    resize: none;
}

/*For login & signup*/
.container {
    margin-top: 7%;
    text-align: left;
    width: 50%;
}

/* For text within hr */
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 0.5px;
    background: var(--grey-color);
}

/*For blog(paragraph) content*/
.para-content p {
    text-align: justify;
}

.para-content p::first-letter {
    color: #000;
    font-size: 30px;
    font-weight: 500;
}

.para-content p::selection {
    background-color: var(--selection-color);
}

/* For navbar */
.navbar-header {
    font-family: 'Pacifico', cursive;
    filter: drop-shadow(-7px -7px 2px var(--grey-color));
}

.navbar-header p {
    color: #fff;
    animation: logo 1s linear infinite;
}

.navbar-header p:hover {
    color: #fff;
}

@keyframes logo {
    0% {
        color: 0#fff;
    }
    50% {
        color: var(--grey-color);
    }
}


.navbar {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 3%;
    background-color: black;
    font-size: 13px;
    letter-spacing: 2px;
    top: 0px;
}

.navbar-nav li a {
    color: #fff;
    text-decoration: none;
}

.navbar-nav li a:hover {
    color: var(--grey-color);
}


/*For compose & logout div-type-btn*/
#navbar-btn .nav-NavLink {
    color: #fff;
}

#navbar-btn .nav-NavLink:hover {
    color: var(--grey-color);
}

/* For background-image on all routes */
.big-img {
    position: absolute;
    width: 100%;
    opacity: 0.7;
}

.big-img img {
    width: 100%;
    height: 100vh;
}

.content-on-image {
    position: relative;
    top: 250px;

    & h1 {
        line-height: 2.5;
        font-family: 'Kanit', sans-serif;
    }

    & p {
        font-style: italic;
        padding: 0% 2%;
    }
}

.content-below-image {
    margin-top: 27%;
}

.content-below-image-without-text {
    margin-top: 40%;
}

.card-shadow {
    filter: drop-shadow(-12px -10px 2px var(--grey-color));
}

@media (max-width : 600px) {
    .container {
        margin-top: 20%;
        width: auto;
    }

    .content-on-image {
        top: 200px;
    }

    .big-img img {
        width: 100%;
        height: 70vh;
    }

    .content-below-image {
        margin-top: 40%;
    }

    .content-below-image-without-text {
        margin-top: 75%;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .container {
        margin-top: 20%;
        width: auto;
    }

    .content-on-image {
        top: 250px;
    }

    .content-below-image {
        margin-top: 40%;
    }

    .content-below-image-without-text {
        margin-top: 70%;
    }

    .big-img img {
        width: 100%;
        height: 80vh;
    }
}

@media (min-width: 800px) and (max-width : 1000px) {
    .container {
        margin-top: 15%;
        width: auto;
    }

    .content-on-image {
        top: 250px;
    }

    .content-below-image {
        margin-top: 40%;
    }

    .content-below-image-without-text {
        margin-top: 60%;
    }

    .big-img img {
        width: 100%;
        height: 90vh;
    }
}

@media (min-width: 1000px) and (max-width : 1300px) {
    .container {
        margin-top: 10%;
        width: 70%;
    }

    .content-on-image {
        top: 250px;
    }

    .content-below-image {
        margin-top: 30%;
    }

    .content-below-image-without-text {
        margin-top: 50%;
    }

    .big-img img {
        width: 100%;
        height: 90vh;
    }
}

/* In about us, for personal name & photo */
.intro h3 {
    font-family: 'Carter One', cursive;
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Montserrat', sans-serif; */
}

.intro img {
    width: 65%;
}

/* For footer */
.footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #000;
    margin-top: 4%;
    padding: 20px;
}

/* For footer icons */
.footer a {
    padding: 10px;
    font-size: 20px;
    color: #fff;
}

.footer a:hover {
    color: var(--grey-color);
}

/* For footer copyright */
.footer p {
    margin: 20px auto -2px;
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: var(--grey-color);
}